services:
  - type: web
    name: repspheres-news-proxy
    env: node
    region: ohio
    plan: free
    buildCommand: cd server && npm install
    startCommand: cd server && node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: SUPABASE_URL
        value: https://cbopynuvhcymbumjnvay.supabase.co
      - key: SUPABASE_ANON_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNib3B5bnV2aGN5bWJ1bWpudmF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0MzI3OTEsImV4cCI6MTk5OTgzMjc5MX0.1YQbIj2-aXXFSYUXvPiEIBDJccy7mOC-wnuP5HpYA0Y
